{% extends 'base.html' %} {% block pagetitle %} Contact Us {% endblock pagetitle %} {% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To Help.
        </p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anjani Akanksha</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anjani Akanksha. Currently Pursuing Bachelors in Computer Science and Engineering.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:katakamanjaniakanksha2003@gmail.com'><img src="https://tse1.mm.bing.net/th?id=OIP.IpB5yPUkCFHOzlmM-O7ncAHaFW&pid=Api&P=0&h=180" height="40" width="40"></a> : katakamanjaniakanksha2003@gmail.com

            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mounika</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Mounika. Currently Pursuing Bachelors in Computer Science and Engineering.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:tirupathimounika7@gmail.com'><img src="https://tse1.mm.bing.net/th?id=OIP.IpB5yPUkCFHOzlmM-O7ncAHaFW&pid=Api&P=0&h=180" height="40" width="40"></a> : tirupathimounika7@gmail.com
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Yasin</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Yasin. Currently Pursuing Bachelors in Computer Science and Engineering. My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:shaikyasin672@gmail.com'><img src="https://tse1.mm.bing.net/th?id=OIP.IpB5yPUkCFHOzlmM-O7ncAHaFW&pid=Api&P=0&h=180" height="40" width="40"></a> : shaikyasin672@gmail.com
            </div>
        </div>
    </div>
</div>

{% endblock body %}